@charset "utf-8";

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

dialog {
  padding: 0;
  border: 1px solid #eee;
  box-shadow: 1px 1px 2px #333;
  position: relative;
  width: 60%;
}
        
dialog[open1], dialog[open2], dialog[open3], dialog[open4], dialog[open5], dialog[open6], dialog[open7], dialog[open8], dialog[open9], dialog[open10], dialog[open11] {
  animation: fade 1s ease 0s 1 normal;
}



dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

dialog h2 {
  padding: 10px;
  background-color: #FFC778;
  margin: 0;
  color: #fff;
}

dialog div {
  color:#424242;
  padding: 10px;
}

#close1, #close2, #close3, #close4, #close5, #close6, #close7, #close8, #close9, #close10, #close11 {
  background-color: #FFC778;
  text-align: center;
  margin: 10px auto 20px auto;
  padding: 10px;
  border-radius: 4px;
  width: 50%;
  font-weight: bold;
  color: #fff;
  box-shadow: 0px 1px 3px #333;
  cursor: pointer;
}
        
.thumb {
  width: 220px;
  transition: .3s;
  cursor: pointer;
}

.thumb:hover {
 transition: .3s;
 filter: grayscale(80%);
}

.thumb img {
  width: 100%;
}


        
.dialog-content {
  display: flex;
}
        
.image-box {
  max-width: 600px;
  margin-right: 20px;
}

.dialog-content img {
  width: 100%;
}


.dialog-text h3 {
  margin-top: 20px;
  font-size: 1.5rem;
}

.dialog-text p {
  color: #333;
}

.t-img {
  width: 300px;
}
